.hide {
  transform: translateY(-250px);
  transform-origin: top;
}

.navigation-container {
  background: white;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 5;
  max-width: 100vw !important;
}

.navigation {
  z-index: 10;
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background: rgb(255, 255, 255);
  padding: 0 !important;
  overflow-y: scroll;

  @include media(lg) {
    transform: translateX(0);
    opacity: 1;
    position: relative;
    height: initial;
    width: initial;
    overflow-y: visible;
  }

  &__list {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 50px 0 0 0 !important;
    padding: 0 !important;
    min-height: 100%;

    @include media(lg) {
      margin: 0 !important;
      height: 100%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__item {
    width: 100% !important;
    border: 1px solid map-get($theme-colors, primary-light);

    @include media(lg) {
      border: none;
    }
  }

  &__link {
    display: flex !important;
    align-items: center !important;
    min-width: max-content !important;
    text-align: inherit;
    padding: 1rem 1rem !important;
    text-decoration: none;
    transition: all 0.2s;

    & .chevron {
      margin-right: 0.4rem !important;
      font-size: 0.8em;
      order: -1;

      @media (lg) {
        margin: 0;
        margin-left: 0.2rem;
      }
    }

    &:hover {
      opacity: 0.8;
      transform: scale(1.01);
    }
  }

  &__link--underline {
    position: relative;
    @extend .navigation__link;

    @include media(lg) {
      &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 0;
        margin-top: 10px;
        background: map-get($theme-colors, "primary");
        width: 100%;
        height: 1px;
        transform-origin: center;
        transform: scaleX(0);
        transition: all 0.5s;
      }

      &:hover {
        &::after {
          transform: scaleX(0.8);
        }
      }
    }
  }
  &__item {
    position: relative;
  }

  &__dropdown-list {
    z-index: 10;
    display: block !important;
    transform: scaleY(0) !important;
    transform-origin: top;
    max-height: 0;
    position: relative;
    width: 100% !important;
    padding: 0 !important;
    background-color: rgb(242, 242, 242);
    transition: transform 0.5s, max-height 0.8s;

    @include media(lg) {
      position: absolute;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      bottom: 100;
      left: 0;
      width: max-content !important;
      min-width: 200px !important;
    }

    a {
      border-radius: 10px;

      &:hover {
        background-color: map-get($theme-colors, "primary-light");
      }
    }

    &--open {
      transform: scaleY(1) translateY(0) !important;
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
      max-height: 500px;
    }
  }

  @include media(lg) {
    &__item:hover > &__dropdown-list {
      transform: scaleY(1) translateY(0) !important;
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
      max-height: 500px;
    }
  }

  &__visible {
    transform: scaleX(1);
    opacity: 1;
    visibility: visible;
  }
}
