$theme-colors: (
  "primary": #6054c6,
  "primary-dark": #443978,
  "primary-light": #edecf4,
  "secondary": #137273,
  "secondary-light": #3ce581,
  "light": #f3f3f3,
);

$text-colors: (
  "primary": #6054c6,
  "primary-dark": #443978,
  "primary-light": #edecf4,
  "secondary": #137273,
  "secondary-light": #3ce581,
  "body": #585859,
  "light": #f3f3f3,
);

$bg-colors: (
  "primary": #6054c6,
  "primary-dark": #443978,
  "primary-light": #edecf4,
  "medium": #edecf4,
  "gradient": linear-gradient(to-right, #137472, #3de481),
);
